.form__container {
  width: 100%;
  max-width: 30rem;
  margin-inline: auto;
  background-color: #3a3e4b;
}

.form {
  display: grid;
  gap: 1rem;
  text-align: left;
}

.form__input {
  background-color: #eee;
  border-radius: 0.5rem;
  width: 100%;
}

.form__input-container {
  width: 100%;
}

.error-text {
  color: red;
  font-weight: bold;
  margin-top: 0.5rem;
}
