.quote-details {
  max-width: 50rem;
  margin: auto;
}

.quote-details__content {
  font-size: 1.5rem;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4rem;
}

.quote-details__content i {
  font-size: 2rem;
  margin-inline: 1rem;
}

.quote-details__content i:first-child {
  align-self: flex-start;
}

.quote-details__content i:last-child {
  align-self: flex-end;
}

.quote-details__content h1 {
  display: inline;
  font-weight: 300;
}

.quote-details__fav-btn {
  color: white !important;
  padding-inline: 1rem !important;
}

.quote-details__fav-btn span {
  margin-left: 0.5rem;
}
