.comments {
  width: 95%;
  margin: auto;
  border-top: 1px #ccc solid;
  padding-top: 0.5rem;
  list-style: none;
}

.comment {
  margin-block: 1rem;
  border-bottom: rgb(119, 119, 119) 1px solid;
  padding: 1rem;
}

.comment:last-child {
  border: none;
}

.comment p {
  font-size: 1.5rem;
  margin-block-end: 0.5rem;
}

.comment div span {
  font-size: 0.9rem;
  margin-inline: 0.5rem;
}
