.quotes-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quotes-list {
  width: 95%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  list-style: none;
  max-width: 75rem;
}

.quote {
  margin: 0 !important;
  cursor: pointer;
  transition: box-shadow 300ms;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.quote:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.quote__author {
  text-align: right;
  font-style: italic;
  align-self: flex-end;
  margin-top: 1rem;
}

.quotes-list__pagination {
  background-color: #eee;
  border-radius: 1rem;
  width: inherit;
  padding: 0.5rem;
  margin-top: 2rem;
}

.quote__content i {
  font-size: 1rem;
  margin-inline: 1rem;
}

.quote__content i:first-child {
  align-self: flex-start;
}

.quote__content i:last-child {
  align-self: flex-end;
}

.quote__content h3 {
  display: inline;
  font-size: 1.5rem;
  font-weight: 300;
}
